main {
    background-color: aliceblue;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: #f0f0f0;
}

.box {
    background-color: blueviolet;
    border: 1px black;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: azure;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 100ms ease-out;
}

.box:hover {
    transform: rotate(20deg);
}