body {
    background-color: #f0f0f0, 255, 255;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    font-size: 40px;
}

form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.555);
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
}

label {
    display: block;
    margin: 5px;
    color: #333;
}

#email, #name, #mensagem {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

button:hover {
    background-color: #0056b3;
}